* {
    font-family: 'Open Sans', Arial, Helvetica;    
  
}

body{
  padding:60px;
  background-color:#ededed;
  font-size:16px;
}

input {
  width:100%;
  font-size:1.2rem;
  color:grey;
}


.card-grid{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  align-content:center;
  border:1px solid gray;
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  width:20%;
}

.card img{
  width:100%;
  height: auto;
}